ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.034em;
    text-transform: uppercase;
}

.logo-span {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    
    letter-spacing: 0.034em;
    text-transform: uppercase;
}

.nav {}

.nav-list {}

.nav-list-item {
    color: var(--NAVY-BLUE, #2E2F42);
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
}

.nav-link {}

.address {}

.address-list {}

.address-list-item {}

.address-link {
color: var(--SLATE, #434455);

    
   
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
}

.hero {}

.hero-cont {}

.hero-title {
    color: var(--WHITE, #FFF);
        text-align: center;
    background-color: var(--NAVY-BLUE, #2E2F42);
        
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
      
        letter-spacing: 0.07em;
}

.hero-btn-order {
    color: var(--WHITE, #FFF);
    
        background-color: var(--IRIS, #4D5AE5);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
       
        letter-spacing: 0.64px;
}

.goals {}

.goals-title {}

.goals-list {}

.goals-list-item {}

.goals-list-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
    
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
      
        letter-spacing: 0.003em;
}

.goals-list-item-text {
    color: var(--SLATE, #434455);
    
      
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        
        letter-spacing: 0.02em;
}

.team-header {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
       
        letter-spacing: 0.45em;
        text-transform: capitalize;
}

.team-mate {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
       
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
       
        letter-spacing: 0.025em;
}

.team-mate-description {
    color: var(--SLATE, #434455);
        text-align: center;
    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
       
        letter-spacing: 0.02em;
}

.portfolio-header {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
      
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.045em;
        text-transform: capitalize;
}

.portfolio-item {
color: var(--NAVY-BLUE, #2E2F42);

   
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
   
    letter-spacing: 0.025em;
}

.portfolio-item-description {
    color: var(--SLATE, #434455);
    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
       
        letter-spacing: 0.02em;
}

.footer-logo {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.034em;
        text-transform: uppercase;
}

.footer-logo-span {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 117;
        /* 116.667% */
        letter-spacing: 0.034em;
        text-transform: uppercase;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    
       
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}